{% extends 'base.html' %}

{% block head %}
<header>
    <img src= "{{ url_for('static', filename='images/head-image.png') }}">

</header>

{% endblock %} 

{% block body %}
<br>
<br>
<div class="container">
    <form action="/" method="POST">
        <div class="form-group">
            <h1>Skin Type</h1>
            <input type="checkbox" name="skin_type" value= "Combination">
            <label>Combination</label><br>
            <input type="checkbox" name="skin_type" value= "Oily">
            <label>Oily</label><br>
            <input type="checkbox" name="skin_type" value= "Dry">
            <label>Dry</label><br>

        </div>

        <div class="form-group">
            <h1>Rating</h1>
            <input type="checkbox" name="Rating" value="4"> <!--4 and Up-->
            <label>4 Stars & Up</label><br>
            <input type="checkbox" name="Rating" value="3">
            <label>3 Stars & Up</label><br>
            <input type="checkbox" name="Rating" value="2">
            <label>2 Stars & Up</label><br>
        </div>

        <div class="form-group">
            <h1>Price</h1>
            <input type="checkbox" name="Price" value="70"> 
            <label>$70 & Above</label><br>
            <input type="checkbox" name="Price" value="25-to-70"> 
            <label>$25 & Above</label><br>
            <input type="checkbox" name="Price" value="25"> 
            <label>$25 & Below</label><br>

    
        <div action = '/Result' method="POST">
            <button class=btn> Submit</button>
        </div>

    </form>
    


</div>


{% endblock %}