h1 {
    color: red;
}

li {
    font-size: 16px;
}

html {
    background-color: pink;
    font-family: "arial", Arial;
}

body {
    width: 1000px;
    margin: 0 auto;
    background-color: white;
    padding: 30px 20px 1000px 100px;
    border: 30px solid pink;
    
}