.container h1 {
    width: 20 px;
    margin: 10 auto;
    background-color: pink;
    padding: 0px 10px 10px 10px;
    border: 10px solid pink;
    font-family: 'serif', serif;
    font-style: italic;
    font-style: bold;
    font-size: 40px;
    color: blue;

}


li {
    font-size: 16px;
}

html {
    background-color: pink;
}

body {
    width: 1000px;
    margin: 0 auto;
    background-color: white;
    padding: 10px 20px 1000px 20px;
    border: 10px solid pink;
    
}
img {
    display: block;
    margin: 0 auto;
}