p {
    font-style: bold;
}
.container form h1 {
    width: 20 px;
    margin: 10 auto;
    background-color: pink;
    padding: 0px 10px 10px 10px;
    border: 10px solid pink;
    font-family: 'serif', serif;
    font-style: italic;
    font-style: bold;
    font-size: 40px;
    color: white;

}


ul {
    font-size: 20px;
    font-weight: bold;
    color: rgb(56, 56, 56);
}

html {
    background-color:  rgb(250, 215, 220);
}

body {
    width: 1000px;
    margin: 0 auto;
    background-color: white;
    padding: 10px 20px 1000px 20px;
    border: 0px;
    
}
img {
    display: block;
    margin: 0 auto;
}
.btn {
    border: none;
    background-color: pink;
    padding: 15px 30px;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    left: 45%;
    text-align: center;
    font-family: 'serif', serif;
    color: rgb(56, 56, 56);
    font-weight: bold;
}

.result-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 20px;
    font-family: 'serif', serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(153, 146, 146, 0.15);
    
}

.title {
    background-color: pink;
    color: #ffffff;
    text-align: center;
}

.title th {
    padding: 12px 15px;
}

.element {
    border-color: rgb(56, 56, 56);
    padding: 12px 15px;
}